.btn {
  padding: 2rem 4rem;
  display: inline;
}

.btn-secondary {
  border: rem(3px) solid #fff;
  border-radius: rem(36px);
  background-color: #353533;
  font-variation-settings:
    'wght' 800,
    'wdth' 125;
  margin: rem(20px) 0;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rerotating {
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
